body {
    background-color: rgba(45, 45, 45, 0.1);
  }
  div {
    text-align: center;
  }
  h1 {
    font-size: 34px;
    margin-top: 50px;
    font-family: sans-serif;
  }
  #img-div {
    background: white;
    padding: 15px;
    font-size: 14px;
  }
  #image {
    max-width: 100%;
    height: auto;
  }
  .sub {
    font-size: 20px;
    margin: 60px;
  }
  ul {
    text-align: left;
    margin: 0 auto;
    max-width: 660px;
  }
  li {
    margin: 10px;
  }
  .Borlaug {
    text-align: left;
    margin: 60px auto 0;
    max-width: 660px;
  }
  .pm {
    text-align: left;
    margin: 10px 300px;
  }
  h3 {
    margin: 60px;
  }
  